# MongoDB
MONGO_URI=mongodb+srv://YOUR_USER:YOUR_Pcluster.mongodb.net/travelnest

# JWT
JWT_SECRET=your_super_secret_jwt_key_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# App
PORT=8000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
ADMIN_CLIENT_URL=http://localhost:5174

# Email (Nodemailer - Gmail example)
EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_gmail_app_password

# Admin
ADMIN_EMAIL=admin@travelnest.com
ADMIN_SECRET=your_admin_secret_to_register
